.courseInfo-tab {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 10px 10px 20px;

  &:hover {
    cursor: pointer;
  }
}

.primary-tab {
  width: 270px;
}

.secondary-tab {
  width: 57px;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.icon-container {
  width: 50px;
}
