.courseInfo-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  min-height: 500px;
  background-color: #dbe8f4;
  overflow: hidden;
}

#compareOne{
  margin-right: 600px;
  color: black;
  font-size: 10px;
}
.courseInfo-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.courseInfo-sidebar {
  @extend .courseInfo-section;
  padding-left: 70px;
  padding-right: 50px;
  justify-content: center;
}

.courseInfo-main {
  @extend .courseInfo-section;
  margin-top: 80px;
  max-height: 90vh;
  overflow-y: scroll;

  p {
    color: #1c3e6e;
  }
}
