.courseInfo-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #dbe8f4;
}

.courseInfo-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.courseInfo-sidebar {
  @extend .courseInfo-section;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  margin-top: 40px;
}

.courseInfo-main {
  @extend .courseInfo-section;
  height: 100vh;
  margin-right: 20px;
  padding-inline: 30px;
  margin-top: 175px;
  overflow-y: scroll;

  p {
    color: #1c3e6e;
  }
}

.course-description {
  margin-bottom: -50px;
}

.comment-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comment-container {
  background-color: #d1e4ff;
  padding: 20px 35px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.review-and-ratings-container {
  background-color: white;
  padding: 20px 35px;
  border-radius: 15px;
  margin-top: 10px;
}
