.about-page {
  height: 100vh;
  width: 100vw;
  padding-inline: 20px;
  margin-top: 80px;

  h2 {
    font-weight: 600;
    font-size: 40px;
  }

  p {
    font-weight: 200;
    font-size: 18px;
  }
}

.about-page-container {
  height: 100%;
  padding-bottom: 80px;
  padding-inline: 10px;
  max-height: 90vh;
  overflow-y: scroll;
}

.about-page-text {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
}

.about-page-recipe {
  width: 60%;
  margin: 0 auto;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
}
