.navbar {
  width: 100vw;
  background: #1c3e6f;
  height: 80px;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.navbar-left-container {
  color: white;
  font-size: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.navbar-right-container {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.about-btn-outer {
  background-color: white;
  height: 55px;
  width: 55px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-btn-inner {
  background-color: #1c3e6f;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
