.about-page {
    margin-top: 20px;
    max-height: 90vh;
    overflow-y: scroll;
}

.intro {
    width: 750px; 
    font-size: 20px;
    font-family: Helvetica;
    color: black; 
}

.img1 {
    float: right;
    width: 655px;
    height: 384px;
    display: flex;
    box-sizing: border-box;
    margin-top: 80px;
}

.meettheteam {
    font-size: 36px;
    font-family: Helvetica;
    color: black;
    letter-spacing: 0;
    line-height: 36px;
    overflow: visible;
}

.member-name {
    font-size: 32px;
    font-family: Helvetica;
    color: 'black';

    line-height: 32px;
    color: black;
}

.member-intro {
    font-size: 20px;
    font-family: Helvetica;
    color: black;

}

.slogan {
    /* Course Selection Made Easy */
    width: 657px;
    font-size: 70px;
    font-family: Helvetica; 
    font-weight: 700;
    color: #8419b7;
}


