$hoverColor: #337ab7;

.page-404 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  h1 {
    margin-top: 30px;
  }
}

.image-404 {
  width: 40vw;
  min-width: 400px;
}

.link-404 {
  display: flex;
  margin-top: 10px;

  &:hover {
    svg path {
      color: $hoverColor;
    }

    h3 {
      color: $hoverColor;
    }
  }

  .icon-404 {
    margin-top: 6px;
    margin-right: 10px;
  }
}
