.search-results-page {
  margin: 50px auto;
  padding: 0px 20px;
  max-width: 1400px;
  margin-top: 120px;

  h2 {
    font-weight: 600;
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }

  .search-results-title {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .search-results-list {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
