.search-results-page {
  height: 100vh;
  width: 100%;
  padding-inline: 20px;
  margin-top: 80px;

  h2 {
    font-weight: 600;
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
}

.search-results-container {
  height: 100%;
  padding-bottom: 30px;
  padding-inline: 10px;
  max-height: 90vh;
  overflow-y: scroll;
}

.search-results-title {
  padding-top: 30px;
  margin-left: 10px;
}

.search-results-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
