.home-page{
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.home-page h1{
  font-size: 75px;
  font-weight: 700;
}

.home-page h2{
  font-size: 24px;
  font-weight: 800;
}