.button {
  display: inline-block;
  border-radius: 14px;
  padding: 14px 30px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 200ms, background-color 200ms;
  user-select: none;

  &:hover {
    transform: scale(1.03);
    transition: transform 200ms;
  }

  &:active {
    transform: scale(0.97);
    transition: transform 100ms;
  }
}

.primary-button {
  @extend .button;
  background-color: white;
  color: #1c3e6f;
}

.secondary-button {
  @extend .button;
  color: white;
  background-color: #1c3e6f;
}

.icon-button {
  width: 57px;
  height: 57px;
  margin-left: 5px;
}

.button-icon {
  width: 28px;
  height: 28px;
  margin: 0 -16px;
  padding: 0;
}
